# "The sciences, each straining in its own direction, have hitherto harmed us little; 
# but some day the piecing together of dissociated knowledge will open up such terrifying vistas of reality, 
# and of our frightful position therein, that we shall either go mad from the revelation 
# or flee from the deadly light into the peace and safety of a new dark age." 
# "Науки, каждая из которых тянет в своем направлении, до сих пор причиняли нам мало вреда; 
# однако настанет день и объединение разрозненных доселе обрывков знания откроет перед нами такие ужасающие виды реальной действительности, 
# что мы либо потеряем рассудок от увиденного, 
# либо постараемся скрыться от этого губительного просветления в покое и безопасности нового средневековья."
# Г.Ф. Лавкрафт (1928 г.)
